.nav-sidebar {
  top: 90px;
  margin: 10px 0px;
  width: 300px;
  height: 95%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.divi {
  margin-bottom: 60px;
}
a {
  text-align: center;
}
.nav-sidebar .nav-pills {
  margin-bottom: 3px;
}

.nav-sidebar .nav-pills .nav-link {
  padding: 10px 15px;
  margin: 38px 0px;
  border-radius: 5px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.nav-sidebar .nav-pills .nav-link.active {
  background-color: #fff;
  border-right: 3px solid #337ab7;
}

.tab-content {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 991px) {
  .nav-sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .nav-sidebar .nav-pills {
    margin-bottom: 20px;
  }

  .tab-content {
    margin-left: 0;
  }
}
